/*---------- Header start -----------*/
.header-top{
    background: #F6F9FF;
    padding: 10px 0;
    @include screen-576 {
        display: none;
     }
}
.header-top .header-top-left{
    p{
        color: $heding-primary-color;
        font-weight: 450;
        font-size: 14px;
        @include screen-1200 {
            font-size: 13px;
        }
        @include screen-992 {
            font-size: 14px;
        }
        @include screen-768 {
            font-size: 11px;
        }
    } 
}

.header-top .header-top-right{
    
    span{
        color: $heding-primary-color;
        font-weight: 450;
        font-size: 14px;
    } 
    a{
        font-size: 14px;
        svg{
            margin-right: 6px;
        }
    }
    span{
        svg{
            margin-right: 6px;
        }
    }
    .header-location{
        padding-right: 60px;
        border-right: 2px solid #B1B1B1;
        @include screen-1400 {
            display: none;
        }

    }
    .header-phone{
        padding: 0 60px 0 30px;
        border-right: 2px solid #B1B1B1;
        @include screen-1400 {
            padding-right: 0 20px 0 20px;
        }
        @include screen-992 {
            display: none;
        }
    }
    .header-email{
        padding-right: 30px;
        padding-left: 30px;
        @include screen-1400 {
            padding-right: 10px;
            padding-left: 10px;
        }
        @include screen-768 {
            padding-right: 0px;
            padding-left: 0px;
        }

    }
    
     
}
.nav-section{
    padding: 16px 0;
    background: $heding-primary-color;
    .nav-logo{
        img{
            width: 170px;
        }
        @include screen-576 {
            width: 50%;
            
        }
    }
    .nav-left-box{
        width: 155px;
        background: transparent;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        padding: 10px 8px;
        transition: all .4s;
        
        &:hover{ 
            background: $primary-color;
            
            span{
                background: $heding-primary-color;
                i{
                    transform: rotate(90deg);
                }
            }
        }
        span{
            width: 32px;
            height: 32px;
            background: $primary-color;
            border-radius: 50%;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            margin-right: 12px;
            i{
                flex-shrink: 0;
                font-size: 18px;
                color: $white-color;
                transition: all .4s;
            }
        }
        p{
            color: $white-color;
        }
        @include screen-460 {
            display: none !important;
        }
    }
    .nav-right-btn{
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: end;
        margin-left: 20px;
        
        span{
            display: block;
            transition: all .4s;
        }
        :nth-child(1){
            width: 32px;
            height: 2.96px;
            background: $white-color;
            border-radius: 3px;
        }
        :nth-child(2){
            width: 26px;
            height: 2.96px;
            background: $white-color;
            margin-top: 5px;
            border-radius: 3px;
        }
        :nth-child(3){
            width: 20px;
            height: 2.96px;
            background: $white-color;
            margin-top: 5px;
            border-radius: 3px;
        }
    &:hover span{
        width: 32px;
    }    
    }
    .nav-manu{ 
       
        
        ul{
            display: flex;
            justify-content: flex-end;
            li{
                
                margin-right: 30px;
                a{
                    font-size: 16px;
                    padding: 15px 10px;
                    color: rgba(255, 255, 255, .8) !important;
                    @include screen-1200 {
                        font-size: 14px;
            
                    }
                    &:hover{
                        color: rgb(255, 255, 255) !important;
                    }
                    
                }
                position: relative;
                &:hover .has-sub-manu{
                    opacity: 1;
                    visibility: visible;
                    transform: rotateX(0deg);
                }
                .has-sub-manu{  
                        position: absolute;
                        top: 108%;
                        left: 0;
                        min-width: 220px;
                        background: #111010;
                        border-radius: 6px;
                        flex-direction: column;
                        visibility: hidden;
                        opacity: 0;
                        transform: rotateX(-90deg);
                        transform-origin: top center;
                        transition: all .4s;
                        z-index: 10;
                        li{
                            width: 100%;
                            border-bottom: 1px solid $border-color;
                            display: block;
                            a{
                                padding: 16px 12px;
                                width: 100%;
                            
                                &:hover{
                                    letter-spacing: .7px;
                                    padding-left: 17px;
                                }
                            }
                        }
                }
            }
        }
    }
}
header{
    .popup-box-active{
        background: rgba(255, 255, 255, 0.4);
        backdrop-filter: blur(2.5rem);
        height: 102vh;
        max-width: 400px;
        right: -602px;
        top: 0;
        padding: 50px 40px;
        overflow: hidden;
        overflow-y: scroll;
        box-shadow: 0 0.25rem 0.5625rem -0.0625rem rgba(12, 8, 0, 0.03), 0 0.275rem 1.25rem -0.0625rem rgba(12, 8, 0, 0.5);
        position: fixed;
        z-index: 11;
        @extend %tns;
        @include screen-576 {
            max-width: 250px;
            padding: 50px 22px !important;
        }
        .popup-logo{
            img{
                width: 200px;
            }
            text-align: left;
            margin-bottom: 23px;
            margin-top: -34px;
        }
        .mobile-menu-toggle{
            position: relative;
            left: 250px;
            top: 2.5%;
            color: #FC0012;
            font-size: 24px;
            width: 40px;
            height: 40px;
            background: #fafafa;
            border-radius: 50%;
            line-height: 40px;
            @include screen-576 {
                left: 161px !important;
                top: -31px !important;
            }
        }
        .popup-social{
            margin-top: 15px;
            @include screen-576 {
                    display: flex;
                    
            }
            a{
                color: #fafafa;
                margin-right: 5px;
                width: 32px;
                height: 32px;
                border-radius: 50%;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                background: #111010;
                transition: all .4s;
                flex-shrink: 0;
                @include screen-576{
                    width: 28px;
                        height: 28px;
                        line-height: 28px;
                }
                
                &:hover{
                    color: $primary-color;
                    background: #ecebeb;;
                }
            }
        }
        &.open {
            right: 0;
        }
    }
    
}

.nav-manu {
    ul {
        li {
            &.arrow-down {
                ::after {

                }
            }
        }
    }
}

.nav-section .nav-manu ul li.arrow-down::after {
    content: "\f078";
    position: absolute;
    right: -8px;
    top: 31%;
    color: rgba(255, 255, 255, 0.8) !important;
    font-family: "Font Awesome 6 Free";
    font-weight: 700;
    transition: all .4s;
    font-size: 15px;
}

.nav-section .nav-manu ul li:hover.arrow-down::after {
    color: white !important; 
    transform: rotate(90deg);
}


.nav-section .nav-manu ul li.arrow-down-home::after {
    content: "\f078";
    position: absolute;
    right: -10%;
    top: 31%;
    color: rgba(255, 255, 255, 0.8) !important;
    font-family: "Font Awesome 6 Free";
    font-weight: 700;
    transition: all .4s;
    font-size: 15px;
    }

.nav-section .nav-manu ul li:hover.arrow-down-home::after {
    color: white !important; 
    transform: rotate(90deg);
}


.nav-section .nav-manu ul li.arrow-down-service::after {
        content: "\f078";
        position: absolute;
        right: -7px;
        top: 31%;
        color: rgba(255, 255, 255, 0.8) !important;
        font-family: "Font Awesome 6 Free";
        font-weight: 700;
        transition: all .4s;
        font-size: 15px;
    }

.nav-section .nav-manu ul li:hover.arrow-down-service::after {
    color: white !important; 
    transform: rotate(90deg);
}

.nav-manu ul li:last-child{
    margin-right: -30px;
}


@include screen-992 {
    header .popup-box-active .mobile-menu-toggle{
    left: 194px;
    top: -10px;
    }
    .displaynone{
        display: none !important;
    }
    .popup-box-active{

        .nav-manu{
       
        
            ul{
                display: flex;
                flex-direction: column;
                li{
                    
                    padding-right: 30px;
                    a{
                        font-size: 16px;
                        padding: 15px 10px;
                        color: black;
                        font-weight: 500;
                        width: 100%;
                        border-bottom: 1px solid $border-color;
                    
                        &:hover{
                            color: $primary-color!important;
                        }
                        
                    }
                    position: relative;
                   
                    .has-sub-manu{  
                        display: none;
                            flex-direction: column;
                            transition: all .4s;
                            li{
                                width: 100%;
                                display: block;
                                padding-left: 20px;
                                a{
                                    font-size: 15px;
                                    padding: 16px 12px;
                                    width: 100%;
                                
                                    &:hover{
                                        letter-spacing: .7px;
                                        padding-left: 17px;
                                    }
                                }
                            }
                    }
                }
            }
        }
    }
}

%misted {
    position: absolute;
    right: 10px;
    top: 15px;
    color: black !important;
    font-weight: 700;
    transition: all .4s;
    font-size: 18px;
    
}
#sub-icone1{
    @extend %misted;
}
.sub-icone2{
    @extend %misted;
}
#sub-icone3{
    @extend %misted;
}
%iconeroted{
    transform: rotate(90deg);
    transition: all .4s;
}
.arrowm-down{
    @extend %iconeroted;
}

@include screen-576 {
    .m-responsive{
        width: 50%;
    }  
}

