@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&family=Sail&display=swap');
$heding-font: 'Plus Jakarta Sans', sans-serif;
$text-font: 'Sail', cursive;;
$primary-color: #FC0012;
$white-color: rgb(255,255,255);
$heding-primary-color: #111010;
$heding-color: #000000; 
$text-color: #5F5F5F;
$border-color: #9c9c9c;
$border-color2: #e9e3e3e7;


%tns{
    transition: all .4s;
}
