@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&family=Sail&display=swap');
$heding-font: 'Plus Jakarta Sans', sans-serif;
$text-font: 'Sail', cursive;;
$primary-color: #FC0012;
$icon-bg: rgba(252, 0, 18,.06);
$white-color: rgb(255,255,255);
$heding-primary-color: #111010;
$heding-color: #000000; 
$text-color: #5F5F5F;
$border-color: #9c9c9c;
$border-color2: #e9e3e3e7;
$trdbox-shaddow: 0px 4px 50px 0px rgba(0, 56, 60, 0.05);
$hover-box-saddow: 15px 30px 70px rgba(0, 0, 0, 0.08);


%tns{
    transition: all .4s;
}
